/* _content/Portfolio/Components/Layout/Footer.razor.rz.scp.css */
/* _content/Portfolio/Components/Layout/MainLayout.razor.rz.scp.css */
*[b-gk0xuebvlm]{
  background-color: black;
  color: white;
}
/* _content/Portfolio/Components/Layout/Navbar.razor.rz.scp.css */
.navbar[b-4svlxg6yiy] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.logo[b-4svlxg6yiy] {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-list[b-4svlxg6yiy] {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-item[b-4svlxg6yiy] {
  text-transform: uppercase;
}
.nav-link[b-4svlxg6yiy] {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover[b-4svlxg6yiy] {
  color: orange;
  transition: color 0.6s ease-in;
}
/* _content/Portfolio/Components/Pages/Home.razor.rz.scp.css */
.hero[b-b5wf3qkphw] {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: .1rem solid whitesmoke;
}

.content[b-b5wf3qkphw] {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: .1rem solid whitesmoke;
}

.content-container[b-b5wf3qkphw] {
  border-right: .1rem solid whitesmoke;
}
