@page "/"
@layout MainLayout

<PageTitle>Jonathan Anleu</PageTitle>

<section>
  <div class="hero">
    <div class="image-container">
      <img src="jon.jpeg" alt="Jon's headshot">
    </div>
    <div class="content">
      <h1 class="logo">Jonathan Anleu</h1>
      <h3 class="color-blue">Software Engineer</h3>
      <p>Creative, detail-oriented, and passionate about building web
        applications.</p>
      <div class="icons"> 
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h2>ABOUT</h2>
    <p>Hey, I'm Jon. I build things for the web with a focus on fun and a great user experience. By day,
      I'm a Software Engineer Intern at Raven Solutions, working across the stack with C#, Blazor, and SQL Server. By
      night, I'm probably tinkering on Unity, studying for AWS certs, or experimenting with Docker.</p>

    <p>Currently, I’m a Software Engineer Intern at Raven Solutions, where I contribute to full-stack development,
      refine UI components, and optimize workflows. I thrive on solving real-world problems and am
      actively expanding my expertise through AWS certifications and DevOps practices (Docker, GitHub CI/CD).</p>

    <p>In my spare time, I hang out with my family, bake sourdough bread, run, and
      explore the Indiana Dunes. </p>
  </div>
</section>

<section>
  <div class="content">
    <h2>PROJECTS</h2>
    <div class="card">
      <div class="project-img"></div>
      <div class="project-content">
        <h4 class="color-blue">MOMENTUM</h4>
        <p>Projects Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h2>EXPERIENCE</h2>
    <div class="card">
      <p class="color-blue">2025 - PRESENT</p>
      <div class="project-content">
        <h3>Raven Soultions</h3>
        <p>Job Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h3>Contact</h3>
  </div>
</section>


<footer></footer>
