@page "/"
@layout MainLayout

<PageTitle>Portfolio</PageTitle>

<div class="hero">

<h1>Web Developer</h1>

<p>Creative, detail-oriented, and passionate about building web applications</p>
</div>

<div class="content">
  <div class="content-container"><h2>Projects</h2></div>
  <div class="content-container"><h2>Technical Skills</h2></div>
  <div class="content-container"><h2>Courses/Certificates</h2></div>
</div>

<div class="reviews">
  <h2>Reviews</h2>
</div>

<footer></footer>
