@page "/"
@layout MainLayout

<PageTitle>Jonathan Anleu</PageTitle>

<section>
  <div class="hero">
    <div class="image-container">
      <img src="jon.jpeg" alt="Jon's headshot">
    </div>
    <div class="hero-content">
      <h1>Jonathan Anleu</h1>
      <h2 class="color-blue">Software Engineer</h2>
      <p>Creative, detail-oriented, and passionate about building web applications.</p>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h3>ABOUT</h3>
    <p>Hey, I'm Jon. I build things for the web with a focus on clean code and great user experiences. By day,
      I'm a Software Engineer Intern at Raven Solutions, working across the stack with C#, Blazor, and SQL Server. By
      night, I'm probably tweaking some CSS, studying for AWS certs, or experimenting with Docker.</p>

    <p>Currently, I’m a Software Engineer Intern at Raven Solutions, where I contribute to full-stack development,
      refine UI components, and optimize workflows. I thrive on solving real-world problems with clean code and am
      actively expanding my expertise through AWS certifications and DevOps practices (Docker, GitHub CI/CD).</p>

    <p>In my spare time, I usually hang out with my family, bake sourdough bread, run, tinker around on Unity, and
      explore the Indiana Dunes. </p>
  </div>
</section>

<section>
  <div class="content">
    <h3>PROJECTS</h3>
    <div class="card">
      <div class="project-img"></div>
      <div class="project-content">
        <h4>Project Title</h4>
        <p>Projects Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque.</p>
      </div>
    </div>
     <div class="card">
      <div class="project-img"></div>
      <div class="project-content">
        <h4>Project Title</h4>
        <p>Projects Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque.</p>
      </div>
    </div>
     <div class="card">
      <div class="project-img"></div>
      <div class="project-content">
        <h4>Project Title</h4>
        <p>Projects Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h3>EXPERIENCE</h3>
     <div class="card">
        <p>2025 - PRESENT</p>
      <div class="project-content">
        <h4>Raven Soultions</h4>
        <p>Job Description - Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, neque.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <h3>Contact</h3>
  </div>
</section>


<footer></footer>
