section {
  padding: 2rem;
}
.color-blue {
  color: cornflowerblue;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-container {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  overflow: hidden; /* Hides any part of the image that goes beyond the circle */
  border-radius: 50%; /* Creates the circular shape */
  display: flex; /* Centers the image within the container */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  border: .2rem solid cornflowerblue;
}

.image-container img {
  width: 100%; /* Makes the image fill the container */
  height: 100%; /* Makes the image fill the container */
  object-fit: cover; /* Ensures the image covers the container, cropping if necessary */
}

.logo {
  font-size: 3rem;
}

.card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

}
.project-img {
  width: 200px;
  height: 100px;
  border: .1rem solid rgb(245, 245, 245, .5);

}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}